<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');

class $CONTROLLER_NAME$ extends CI_Controller 
{
	function __construct()
	{
		parent::__construct();

		$this->load->model('$MODEL_NAME$');
	}

	public function index()
	{
		$data['title'] = 'Interweb - $PAGE_TITLE$';
		$data['header'] = '$HEADER$';
		$data['table_rows'] = $this->$MODEL_NAME$->get_rows();

		$this->load->view('$VIEW_NAME$', $data);
		$this->load->view('$TABLE_VIEW$', $data);
	}
}
