<!-- Breadcrumb -->
<div class="row">
  <div class="col-md-12 col-sm-12">
  <ul class="breadcrumb">
    <li><a href="/tracs/admin">TRACS</a></li>
    <li class="active"><?php echo $display_name; ?></li>
  </ul>
  </div>
</div>