<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');

class $MODEL_NAME$ extends CI_Model
{
$MODEL_INSTANCE_VARIABLES$

	function __construct()
	{
		parent::__construct();
		$this->load->database();
	}

	/* returns all entries for table 
	 * @param $id the primary key name of the table
	 */
	function get_rows($id_name)
	{
		$this->db->select('$MODEL_SELECT_COLUMNS$' . ', ' 
			. '$MODEL_TABLE_ID_COL$ as $MODEL_NAME$_id');
		$query = $this->db->get('$DB_TABLE_NAME$');

		return $query->result_array();
	}

	/* Return the count of all records matching select $data, or count of all
	 * rows for the table if $data is null
	 * @param $data
	 */
	function rowCount($data = null)
	{
		$this->db->from('$DB_TABLE_NAME$');
		if ($data) {
			foreach($data as $key => $val) {
				if ($val)
					$this->db->like($key, $val);
			}
		}

		return $this->db->count_all_results();
	}

	/* gets all rows for a pagination page
	 * @param $limit
	 * @param $start
	 * @param $filter_data option filter data
	 * @param $sort_data optional sort data
	 */
	function get_rows_pagination($limit, $start, $filter_data = null, $sort_data = null)
	{
		$this->db->limit($limit, $start);
		$this->db->select('$MODEL_SELECT_COLUMNS$' . ', ' 
			. '$MODEL_TABLE_ID_COL$ as $MODEL_NAME$_id');
		$this->db->from('$DB_TABLE_NAME$');

		if ($filter_data) {
			foreach($filter_data as $key => $val) {
				if ($val)
					$this->db->like($key, $val);
			}
		}
		if ($sort_data) {
			$this->db->order_by($sort_data['col'], $sort_data['order']);
		}

		$query = $this->db->get();

		if ($query->num_rows() > 0)
            return $query->result_array();
        else 
            return false;
	}

	$DETAIL_MODEL_DROPDOWN_METHODS$

}