$(document).ready(function ()
{
	$('a.edit-$NAME$').on('click', function(event) {
		// TO-DO:
		// Action to take when edit button clicked
	});

	$('a.delete-$NAME$').on('click', function(event) {
		// TO-DO:
		// Action to take when edit button clicked
	});
});