<div class="panel panel-default" id="filter-panel">
	<div class="panel-heading">Number of Records: <strong><?php echo $number_of_records; ?></strong></div>
	<div class="panel-body">
		<form id="bus_pad-filter" role="form" method="post">
			<?php foreach($filter_fields as $key => $val) { ?>
				<div class="form-group">
					<div <?php echo $table_col_params[$key]; ?>>
						<label class="sr-only" for="<?php echo $key; ?>-input"><?php echo $key; ?></label>
						<input type="text" class="form-control filter-input" 
							id="<?php echo $key; ?>-input" 
							placeholder="<?php echo $key; ?>" 
							name="<?php echo $key; ?>" 
							value="<?php echo $val; ?>">
					</div>
				</div>
			<?php } ?>
			<div class="col-xs-3 btn-group">
				<button name="filter-submit" type="submit" class="btn btn-default" value="submit"><span class="glyphicon glyphicon-filter"></span>&nbsp;Filter</button>
				<button name="filter-submit" type="submit" class="btn btn-default" value="clear"><span class="glyphicon glyphicon-remove"></span>&nbsp;Clear</button>
			</div>
		</form>
	</div>
</div>