<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');

class $DETAIL_MODEL_NAME$ extends CI_Model
{
$DETAIL_MODEL_INSTANCE_VARIABLES$

	function __construct()
	{
		parent::__construct();
	}

	/* Return fields $DETAIL_MODEL_SELECT_COLUMNS$
	 * from table $DB_TABLE_NAME$ with primary key $id
	 * @param $id the primary key name of the table
	 */
	function get($id)
	{
		$this->db->select('$DETAIL_MODEL_SELECT_COLUMNS$' . ', ' 
			. '$DETAIL_MODEL_TABLE_ID_COL$ as $MODEL_NAME$_id');
		$this->db->where('$DETAIL_MODEL_TABLE_ID_COL$', $id);
		$query = $this->db->get('$DB_TABLE_NAME$');

		return $query->result_array()[0];
	}

	/* Update field with primary key $id with data $data
	 * @param $id
	 * @param $data
	 */
	function update($id, $data)
	{
		$this->db->where('$DETAIL_MODEL_TABLE_ID_COL$', $id);
		$result = $this->db->update('$DB_TABLE_NAME$', $data);
		return $result;
	}

	/* Delete the field with primary key $id 
	 * @param $id
	 */
	function delete($id)
	{
		$this->db->where('$DETAIL_MODEL_TABLE_ID_COL$', $id);
		$result = $this->db->delete('$DB_TABLE_NAME$');
		return $result;
	}

	/* Create a new entry with $data data, and return its id
	 * @params $data
	 */
	function create($data)
	{
        $id = isset($data['$DETAIL_MODEL_TABLE_ID_COL$']) ? 
        	$data['$DETAIL_MODEL_TABLE_ID_COL$'] : null;
		
		$this->db->trans_start();
		if($this->db->insert('$DB_TABLE_NAME$', $data)) {
			$id = $id ? $id : $this->db->insert_id();
		}
		else {
			$id = null;
		}
		$this->db->trans_complete();

		return $id;
	}

	$DETAIL_MODEL_DROPDOWN_METHODS$

}