<div id="results-panel">
  <div class="pagination-links"><?php echo $links; ?></div>
  <div class="results-count">
  	Number of Records: <strong><?php echo $number_of_records; ?></strong>
  </div>
  <div class="results-body">