<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');

class $MODEL_NAME$ extends CI_Model
{
$MODEL_INSTANCE_VARIABLES$

	function __construct()
	{
		parent::__construct();
	}

	/* returns all entries for table 
	 * @param $id the primary key name of the table
	 */
	function get_rows($id_name)
	{
		$this->db->select('$MODEL_SELECT_COLUMNS$' . ', ' 
			. $id_name . ' as $MODEL_NAME$_id');
		$query = $this->db->get('$DB_TABLE_NAME$');

		return $query->result_array();
	}

}