<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');

class $CONTROLLER_NAME$ extends CI_Controller 
{
	function __construct()
	{
		parent::__construct();

    	//Setup the CAS Authentication and Access Control.
        $this->load->model('User_access');
    	
    	if( !$this->User_access->allowAccessType( array('Admin') ) ){
    		$data['siteTitle'] 		= "TRACS";
			$data['title'] 			= "TRACS";
			$data['noMenu']			= true;
			echo $this->load->view('_templates/admin/header', $data, true);
			echo "<p>You (" . $_SESSION['tracs_userComputingID'] . 
				") do not have the permission to access this page.</p>";
			echo $this->load->view('_templates/admin/footer', $data, true);
			exit();
		}
	}

	public function index()
	{
		$this->load->model('$MODEL_NAME$');

		$data['siteTitle'] 		= "TRACS";
		$data['title'] 			= $data['siteTitle'] . ' - $PAGE_TITLE$';
		$data['javaScript'] 	= array(
									   );
		$data['styleSheets']    = array(
									   );

		$data['header'] = '$HEADER$';
		$data['table_rows'] = $this->$MODEL_NAME$->get_rows('$MODEL_TABLE_ID_COL$');

		$data['controller'] = strtolower('$CONTROLLER_NAME$');
		$data['create_link'] = base_url('admin/' . $data['controller'] . '/create');
		$data['view_link'] = base_url('admin/' . $data['controller'] . '/view');
		$data['delete_link'] = base_url('admin/' . $data['controller'] . '/delete');
		$data['display_name'] = '$CONTROLLER_NAME$';

		$this->load->view('_templates/admin/header', $data);
		$this->load->view('$VIEW_NAME_LINK$', $data);
		$this->load->view('$TABLE_VIEW_LINK$', $data);
		$this->load->view('_templates/admin/footer', $data);
	}

	public function view($id)
	{
		$this->load->model('$MODEL_NAME$');

		// check if its a post (update)
		if ($update = $this->input->post()) {
			$this->$MODEL_NAME$->update($id, $update);
		}

		$data['siteTitle'] 		= "TRACS";
		$data['title'] 			= $data['siteTitle'] . ' - $PAGE_TITLE$';
		$data['javaScript'] 	= array(
									   );
		$data['styleSheets']    = array(
									   );
		
		$data['$DETAIL_ROW$'] = $this->$MODEL_NAME$->get($id);
		$data['header'] = $data['$DETAIL_ROW$']['$DETAIL_HEADER$'];
		$data['detail_id'] = $id;
		$data['controller'] = strtolower('$CONTROLLER_NAME$');
		$DETAIL_MODEL_DROPDOWN_CONTROLLER_VARIABLES$

		$this->load->view('_templates/admin/header', $data);
		$this->load->view('$DETAIL_VIEW_HEADER_LINK$', $data);
		$this->load->view('$DETAIL_VIEW_LINK$', $data);
		$this->load->view('_templates/admin/footer', $data);
	}

	public function create()
	{
		$this->load->model('$MODEL_NAME$');

		// check if its a post (create)
		if ($update = $this->input->post()) {
			if ($id = $this->$MODEL_NAME$->create($update)) {
				// redirect to detail view for newly created entry
				$controller = strtolower('$CONTROLLER_NAME$');
				$view = base_url('admin/' . $controller . '/view/' . $id);
				redirect($view, 'refresh');
			}
		}

		$data['siteTitle'] 		= "TRACS";
		$data['title'] 			= $data['siteTitle'] . ' - $PAGE_TITLE$';
		$data['javaScript'] 	= array(
									   );
		$data['styleSheets']    = array(
									   );

		$data['header'] = 'Create new $CONTROLLER_NAME$ entry.';
		$data['controller'] = strtolower('$CONTROLLER_NAME$');
		$DETAIL_MODEL_DROPDOWN_CONTROLLER_VARIABLES$

		$this->load->view('_templates/admin/header', $data);
		$this->load->view('$CREATE_VIEW_HEADER_LINK$', $data);
		$this->load->view('$CREATE_VIEW_LINK$', $data);
		$this->load->view('_templates/admin/footer', $data);
	}

	public function delete($id)
	{
		$this->load->model('$MODEL_NAME$');
		$this->load->helper('url');
		$controller = strtolower('$CONTROLLER_NAME$');

		$to = base_url('admin/' . $controller);

		// TO-DO: handle warning message to delete
		if ($this->$MODEL_NAME$->delete($id)) {
			redirect($to, 'refresh');
		}
		else {
			// TO-DO: handle error message
			echo 'Error: Could not delete field from database.';
		}
	}
}
