<tbody>
<?php
	foreach($table_rows as $row) {
?>
	<tr id="<?php echo $row['$MODEL_NAME$_id']; ?>">
<?php
		$id;
		foreach($row as $key => $val) {
			if ($key == '$MODEL_NAME$_id') {
				$id = $val;
				continue;
			}
?>
		<td name="<?php echo $key; ?>"><?php echo $val; ?></td>
<?php 	} ?>
		<td>
			<a href="<?php echo $view_link;?>/<?php echo $id;?>" class="edit-$NAME$ btn btn-default btn-xs">
				<span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
			</a>
		</td>
		<td>
			<a href="<?php echo $delete_link;?>/<?php echo $id;?>" class="delete-$NAME$ btn btn-danger btn-xs">
				<span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
			</a>
		</td>
	</tr>
<?php
	}
?>
</tbody>