<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');

class $DETAIL_MODEL_NAME$ extends CI_Model
{
$DETAIL_MODEL_INSTANCE_VARIABLES$

	function __construct()
	{
		parent::__construct();
	}

	/* returns all entries for table 
	 * @param $id the primary key name of the table
	 */
	function get($id)
	{
		$this->db->select('$DETAIL_MODEL_SELECT_COLUMNS$' . ', ' 
			. '$DETAIL_MODEL_TABLE_ID_COL$ as $MODEL_NAME$_id');
		$this->db->where('$DETAIL_MODEL_TABLE_ID_COL$', $id);
		$query = $this->db->get('$DB_TABLE_NAME$');

		return $query->result_array()[0];
	}

	$DETAIL_MODEL_DROPDOWN_METHODS$

}