<!-- Breadcrumb -->
<div class="row">
  <div class="col-md-12 col-sm-12">
  <ul class="breadcrumb">
    <li><a href="/tracs/admin">TRACS</a></li>
    <li class="active">$CONTROLLER_NAME$</li>
  </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="page-header">
      <h1><?php echo $header; ?>
      	<button class="btn btn-default btn-xs" id="addFormButton">
      		<span class="glyphicon glyphicon-plus"></span> 
      		Add a new $CONTROLLER_NAME$ Entry
      	</button>
      </h1>
    </div>
  </div>
</div>